body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.bi-pencil-square:hover{
    color: blue;
}

.buttonicon{
    padding: 0;
    border: 0;
    background-color: white;
}

img{
    width: 120px;
    height: 160px;
}

h2{
    margin: 0;
    padding: 0;
}